.mainpage{
    background-color: rgba(26, 26, 26, 0.911);;
    min-height: 100vh;

}
.middle{
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    
}
.header{
    display: flex;
    justify-content: space-between;
    /* gap:500px; */
    margin: auto;
    /* border: 1px solid; */
    color:white;
}

.dateFilter{
    padding: 12px;
    font-size: 16px;
    margin-top: 20px;

    
}
.moneydataDiv{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    /* flex-wrap: wrap;
    gap:20px; */
}
.innerDiv:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
.innerDiv{
    border:0px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    /* height: 10px; */
    width: 180px;
    text-align: center;
    
}
.iconExpense{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(250, 174, 144);
}
.iconIncome{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    background-color: lightgreen;
}.iconBalance{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(245, 245, 166);
}
.heading{
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.money{
    /* padding: 10px; */
    font-size: 20px;
    font-weight: 500;

}
.graphsdiv{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* gap:10px; */
}

.piecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);



  }
  
  .pietitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    
  }
  
  
  
  
.barchartdiv{
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    /* margin-top: 30px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* padding-left: 60px; */
          
}
.bartitle{
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    text-align: center;
    margin-top: 0px;

}
.incomeExpenseChart {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .chartHeading {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .barr{
    
  }
  
