.dashboardPage{
    /* border:2px solid red; */
    min-height: 100vh;
    background-color:rgba(26, 26, 26, 0.911) ;
}
.headingWrapper{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
.divlinkrecord{
    /* border: 1px solid; */

}
.link{
    color:teal;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
 
}
.accheading{
    display: flex;
    justify-content: space-between;
}
  .linkAccounts{
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
    /* border:10px solid; */
    /* margin-top: 70px; */
    /* margin-left: 250px; */
    align-self: flex-end;
    /* top:0; */
  }
  .linkacc{
    color:teal;
    text-decoration: none;
  }
  
.midDiv{
    /* border:2px solid yellow; */
    margin: auto;
    width: 80%;
    


}
.welcomeMsg {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: center; */
    
}

.greeting {
    font-size: 33px; 
    font-weight: 500;
    color: rgb(250, 191, 81);  /* Green color for 'Welcome' */
}


.userName {
    font-size: 35px;  /* Larger font size for the user's name */
    font-weight: 500;
    color:rgb(244, 214, 160);  /* Red color for the user's name */
    text-transform: capitalize;  /* Ensures the first letter of each name part is uppercase */
  }
  .dashboardSubheading {
    margin-top: 0.5rem;
    font-size: 27px;
    font-weight: 400;
    color:rgb(112, 204, 116); /* soft dark gray for a clean look */
    text-align: center;
    font-style: italic;
    letter-spacing: 0.5px;
    border-bottom:5px solid burlywood;
  }
  
.all4divs{
    /* border:2px solid pink; */
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    margin: auto;
    width:90%;
    margin-top: 20px;
    
   
    /* margin-top: 30px; */
    
}
.firsthalf{
    /* border:2px solid red; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 95%;
    gap: 30px;

}
.accountsDiv{
    /* border:2px solid blue; */
    background-color:rgb(234, 252, 252);
    width:40%;
    min-height: 430px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
}
.mine{
    /* border: 5px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* padding: 5px; */
    gap:10px;
    

}
.heading{
    /* border:2px solid yellow; */
    color:black;
    font-size: 24px;
    font-weight: 500;
    margin-top:2px;
    text-align: center;
    text-decoration: underline;

}
/* .button{
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid;

} */
.addButton{
    /* margin-top: 8px; */
    padding:7px;
    /* margin-left: auto; */
    display: flex;
    margin-bottom: 12px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: green;
    color:white;
    font-size: 20px;
    height:54px;
    margin-top: 20px;
}
.data{
    /* border:2px solid red; */
    /* margin-top: 30px; */
    background-color: rgb(133, 209, 160);
    display: flex;
    justify-content: space-between;
    padding: 6px;
    /* margin-bottom: 6px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    gap:10px;

}
.data:hover{
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    transform: scale(1.01);
}
.name{
    font-size: 20px;
    font-weight: 600;
    padding: 5px;

}
.balance{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 5px;

}
.recordsContainer{
    width: 55%;
    min-height: 430px;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(234, 252, 252);
    
    /* border:5px solid black; */
}
.recordsItem{
    /* border:2px solid orange; */
    display:flex;
    justify-content: space-between;
    
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    background:rgb(133, 209, 160);

    cursor: pointer;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    
}
.recordsItem:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.leftSection{
    /* border:2px solid red; */
    display: flex;
    gap:5px;
}
.icon{
    /* border:2px solid green; */
    padding: 5px;


}
.category{
    /* border:2px solid green; */
    font-size: 15px;
    font-weight: 700;


}
.accountName{

    /* border:2px solid green; */

}
.rightSection{
    /* border:2px solid green; */

}
.amount{
    font-size: 14px;
    font-weight: 500;
    /* border:2px solid green; */

}
.dateDiv{
    /* border:2px solid green; */

}
.secondhalf{
    /* border:2px solid orange; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 97%;
    gap:30px;


}
.bargraphDiv{
    /* border:2px solid purple; */
    width: 50%;
    min-height: 270px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(234, 252, 252);
    font-size: 20px;
    font-weight: 500;

    text-decoration: underline;

}
.piechartDiv{
    /* border:2px solid gold; */
    width: 50%;
    min-height: 270px;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(234, 252, 252);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;




}
